<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <side>
        <div class="sidenav" >
           <div class="big-div">
                <div class="left-div">
                    <img style="float:left ; margin-right: 5px ;margin-top:px;"src="./image/logo.jpeg">
                </div>
                <a href="/Home">
                <div class="right-div">
                    <h1 style="font-size: 18px; padding-top: 12px;">basys.ai</h1>  
                </div>
                </a>
            </div>

            <div class="sidenav_content">
                <a href="/priorauthorization">Prior Authorization</a>
                <a href="/claims">Claims</a>
                <a href="/medical">Medicals Records</a>
                <a href="/profile">My Profile</a>
              </div>
            

        </div>
    </side>
    <h1>inside myprofile</h1>
</body>
</html>